certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
greenlet==3.1.1
idna==3.10
ijson==3.3.0
mysql-connector-python==9.1.0
numpy==2.1.2
pandas==2.2.3
psutil==6.1.0
pyodbc==5.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
qualysetl==0.8.151
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
xmltodict==0.14.2